body{
    overflow-x: hidden;

}

.bgCover{
    width: 99vw;  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}

.shiningImg{
    padding: 0px;
    margin: 0px;
    width: 99vw;
}

.shiningImg>img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.heroVideo{
    width: 40vw;
    position: absolute;
}

video{
    height: 100%;
    width: 100%;
    border-radius: 50px;
}

#form{
    border-radius: 50px;
    position: relative;
    border: 5px solid gray;
    border-top-color: blueviolet;
    /* z-index: 2; */
    /* animation: rotate 2s linear infinite; */
}

#form::before{
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-image: conic-gradient(rgba(143, 53, 53, 0.1), rgba(65, 199, 222, 0.1));
    animation: rotate 2s linear infinite;
    
}

@keyframes rotate {
    100%{
        rotate: 360deg;
    }
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid black;
    border-radius: 50px;
    
}

h1{
    text-align: center;
    position: relative;
}

h1::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0%;
    background-color: #000000;
    transition: all ease 1s;

}

h1:hover::after{
    width: 100%;
}

h1:active::after{
    width: 100%;
}


input, textarea{
    margin: 2%;
    padding: 2%;
    border-radius: 50px;
    border: 3px solid rgba(234, 87, 236, 0.514);
    width: 70vw;
}

textarea{
    padding: 4%;
}


@media only screen and (min-width: 768px) {
    /* For desktop: */
    body{background-color:red ;}
  }